 body {
 	background-color:hsl(257, 40%, 49%);
 	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
 	color: white;
 	/*;*/
 	background-image: url(images/bg-mobile.svg);
	background-repeat: no-repeat; 
	background-size: 105%;
	margin: 0;
 }

 .header {
	width: 165px;
	height: 60px;
	padding-top: 30px;
 }

 .logo {
 	width: 100%;
 	height: 60%;
 }

 .div-img {
 	width: 328px;
 }

.img {
	width: 320px; /* 328*235 */
	padding-top: 45px;
	padding-left: 25px;
}

.div-text {
	width: 328px;
	text-align: center;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-left: 25px;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	width: 300px;
	font-size: 1.6em;
	margin-bottom: 0;
	padding-left: 10px;
}

.description {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.button {
	font-family: 'Poppins';
	background-color: white;
	color: hsl(257, 40%, 49%);
	width: 200px;
	font-size: .8em;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 50px;
	box-shadow: 3px 9px 6px -9px rgb(12, 10, 15);
	border:none;
	margin-top: 10px;
	margin-left: 55px;
}

.button:hover {
	color: white;
	background-color: hsl(300, 69%, 71%);
}

.div-redes {
	padding: 50px 135px 30px;
}

.facebook, .twitter, .instagram {
	color: white;
	border: 1px solid white;
	border-radius: 200%;
	padding: 7px;
	font-size: 11px;
}



.facebook {
	padding: 7px 10px;
}

.facebook:hover {
	color: hsl(300, 69%, 71%);
	border: 1px solid hsl(300, 69%, 71%);
}

.twitter:hover {
	color: hsl(300, 69%, 71%);
	border: 1px solid hsl(300, 69%, 71%);
}

.instagram:hover {
	color: hsl(300, 69%, 71%);
	border: 1px solid hsl(300, 69%, 71%);
}
 
.attribution {
 	font-size: 11px;
	text-align: center; 

}
.attribution a { 
 	color: hsl(300, 69%, 71%); 
}


@media screen and (min-width: 376px) {
	body {
		background-image: url(images/bg-desktop.svg);
		background-size: 120%;
	}

	.header {
		width: 185px;
		height: 200px;
		padding-left: 50px;
	}

	.div-img{
		display: flex;
	}

	.img {
		position: absolute;
		width: 50%;
		left: 50px;
		top: 150px;
	}

	.div-text {
		display: flex;
		position: relative;
		flex-direction: column;
		top: -50px;
		left: 750px;
		width: 450px;
		height: 300px;
		text-align: start;

	}

	.title {
		font-size: 2.1em;
		width: auto;
		padding: 0;
	}
	.description {
		font-size: .9em;
		color:rgb(216, 215, 214);
	}
	.button {
		font-size: 1em;
		padding: 10px;
		width: 170px;
	}

	.div-redes{
		position:absolute;
		bottom: 10vh;
		right: 0;
	}
	.instagram, .facebook, .twitter{
		font-size: 15px;
		margin: 5px;
		padding: 11px;
	}
	.facebook {
		padding: 10px 13px;
	}
	.attribution {
		position: absolute;
		bottom: 5vh;
		right: 500px;
	}

}